<div class="absolute top-2 left-2 z-[999] rounded bg-white/90 px-2 py-1 text-[10px] text-red-600 shadow">
  id: <%= @conv&.id %><br>
  code: <%= @conv&.code %>
</div>
<div class="bg-slate-50 flex flex-col w-[600px] h-[900px] md:h-[700px]">
  <% if @empty || @conv.blank? || @character.blank? %>
    <%= render "empty" %>
  <% else %>
    <div class="flex justify-center items-center relative w-auto z-0 overflow-hidden w-[600px] h-[900px] md:h-[700px]">
      <%= image_tag window_image_path(
            weather_slot: @weather_slot,
            time_slot: @time_slot
          ),
          alt: "ちょこっと♪ もふたいむ /main 窓背景",
          class: "absolute top-[-20px] md:top-[15px] left-[280px] md:left-[260px] object-cover object-top w-[250px] z-0" 
      %>
      <%= image_tag "chat-bg.png", alt: "ちょこっと♪ もふたいむ /chat 背景", class: "w-full h-full object-cover object-[50%_90%] z-10" %>
    
      <% expression_map = expression_map_for(@character) %>
      <% initial_key = @expression_keys.first || "face_idle" %>

      <!-- ⭐data-actionはwindowsにイベントを飛ばす形にしました。（@windowなしだと表情画像が変化しないので） -->
      <section
        class="absolute flex h-[450px] inset-x-0 justify-center items-center pointer-events-none translate-y-[10px] md:translate-y-[-55px] z-10"
        data-controller="character-expression"
        data-character-expression-expressions-value="<%= expression_map.to_json %>"
        data-action="conversation-step:change@window->character-expression#change"
      >
        <div id="character" class="absolute flex translate-x-0 will-change-transform">
          <%= image_tag(
                expression_map[initial_key],
                alt: @character.name,
                class: "w-[450px] h-[390px] object-contain",
                data: { character_expression_target: "image" }
              ) %>
        </div>
      </section>

      <section class="absolute flex h-[260px] inset-x-0 justify-center translate-y-[280px] md:translate-y-[210px] z-20">
        <div id="bubbles" class="flex flex-col justify-center items-center">
          <div data-controller="bubble-fade"
               class="opacity-0 translate-y-2 scale-95 transition-all duration-800 ease-in-out">

            <section
              style="width:130px;height:40px;border-color:#ffc876;"
              class="flex justify-center items-center
                     rounded-2xl border-[3px] bg-slate-50 px-3 py-2 shadow mb-2">
              <%= h(@character.name || "？") %>
            </section>

            <%= render "bubble" %>
          </div>
        </div>
      </section>
    </div>
  <% end %>
</div>
