<div class="bg-slate-50 min-h-screen flex flex-col w-[600px] h-[700px]">
  <% if @empty || @conv.blank? || @character.blank? %>
    <%= render "empty" %>
  <% else %>
    <div class="flex justify-center items-center relative w-auto z-0 overflow-hidden min-h-screen w-[600px] h-[700px]">
      <%= image_tag "chat-bg.png", alt: "ちょこっと♪ もふたいむ /chat 背景", class: "w-full h-full object-cover object-[50%_90%] " %>
    
      <section class="absolute flex h-[450px] inset-x-0 justify-center items-center pointer-events-none translate-y-[-55px] z-10">
        <div id="character" class="absolute flex translate-x-0 will-change-transform">
          <% dir  = character_dir_for(@character) %>
          <% expr = expression_for(@conv, character_dir: dir) %>

          <%= image_tag(
              expression_image_path(character_dir: dir, expression: expr),
              alt: @character.name,
              class: "w-[390px] h-[390px] md:w-[390px] md:h-[390px] object-contain",
              ) %>
        </div>
      </section>

      <section class="absolute flex h-[260px] inset-x-0 justify-center translate-y-[210px] z-20">
        <div id="bubbles" class="flex flex-col justify-center items-center">
          <div class="relative w-[550px]">
          <section
            style="width:130px;height:40px;border-color:#ffc876;"
            class="flex justify-center items-center
                   top-0 left-[16px] z-30
                   rounded-2xl border-[3px] bg-slate-50 px-3 py-2 shadow">
              <%= h(@character.name || "？") %>
            </section>
            <%= render "bubble"%>
          </div> 
        </div> 
      </section>
    </div>
  <% end %>
</div>