<div class="bg-slate-50 min-h-screen flex flex-col w-[600px]">
  <% if @empty || @conv.blank? || @character.blank? %>
    <%= render "empty" %>
  <% else %>
    <div class="flex justify-center items-center relative w-auto z-0">
      <%= image_tag "chat-bg.png", alt: "ちょこっと♪ もふたいむ /chat 背景" %>
    
      <section class="absolute flex h-[400px] inset-x-0 justify-center items-center pointer-events-none translate-y-[-70px] z-10">
        <div id="character" class="absolute flex translate-x-0 will-change-transform">
          <% dir  = character_dir_for(@character) %>
          <% expr = expression_for(@conv, character_dir: dir) %>

          <%= image_tag(
              expression_image_path(character_dir: dir, expression: expr),
              alt: @character.name,
              class: "w-[380px] h-[380px] md:w-[380px] md:h-[380px] object-contain",
              ) %>
        </div>
      </section>

      <section class="absolute flex h-[260px] inset-x-0 justify-center translate-y-[220px] z-20">
        <div id="bubbles" class="flex justify-center items-center">
          <%= image_tag "bubbles.png", alt: "ちょこっと♪ もふたいむ /会話用ふきだし", class: "w-[580px]" %>
          <div class="absolute flex flex-col translate-y-[10px] z-30">
            <p class="mb-[30px] font-mono text-[7]xl whitespace-pre-line z-30"><%= @conv.text %></p>

            <% if @choices.any? %>
              <ul class="flex gap-[30px] justify-center mb-[10px]">
                <% @choices.each do |c| %>
                  <li>
                    <%= link_to c.label, chat_path(conversation_id: c.next_conversation_id), class: "underline" %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div class="flex justify-end">
                <%= link_to "会話をとじる", main_path, class: "underline" %>
              </div>
            <% end %>
          </div>
        </div> 
      </section>
    </div>
  <% end %>
</div>
