<%= form_with model: user, url: nickname_path do |f| %>
  <%= render "nicknames/fields_nickname", f: f %>

  <%= render "nicknames/fields_weather_region", f: f %>

  <%= render "nicknames/fields_terms", f: f %>

  <section class="flex justify-center bottom-[300px] mt-[40px] mb-[30px]">
    <%= f.submit "登録する",
          class: "group
                  font-bold flex h-10 items-center justify-center
                  rounded-md inline-block bg-amber-400 px-4 py-2 text-white hover:bg-orange-400" %>
  </section>
<% end %>