<div class="bg-slate-50 min-h-screen flex flex-col w-[600px]">
  <section class="bg-[#ffebb8] shadow-sm border-b border-yellow-300/40 flex font-bold justify-center items-center relative text-[30px] text-[#5b2d00] h-[75px] w-auto">
    <div class="w-15 pl-8 flex items-center justify-start">
      <%= link_to mypage_path,
          class: "flex items-center justify-center w-11 rounded-full bg-[#fffbf5] hover:bg-[#f5efe6] p-1 shadow-sm" do %>
        <%= render "shared/icon_close", class: "w-7 h-7" %>
      <% end %>
    </div>

    <div class="flex-1 text-center">
      <h1 class="text-[30px] font-bold text-[#5b2d00]">
        引き継ぎ設定
      </h1>
    </div>

    <div class="w-15"></div>
  </section>

  <div class="px-12 pt-10 text-[#5b2d00]">
    <p class="text-sm leading-relaxed">
      引き継ぎ情報を登録してからログインすることで、
      機種変更や別の端末でも、ぽめまるとの思い出をそのまま続けられます。
      <br>
      登録した内容は、なくさないように気をつけてくださいね。
    </p>

    <!-- フォーム -->
    <%= form_with model: @account_user,
          url: account_mypage_path,
          method: :patch,
          data: { turbo: false },
          html: { novalidate: true } do |f| %>

      <div class="space-y-8 mt-[40px]">

        <div>
          <div class="flex items-center justify-between gap-2">
            <%= f.label :email, "メールアドレス", class: "text-sm font-bold" %>
            <%= render "shared/field_error", object: @account_user, attribute: :email %>
          </div>

          <%= f.text_field :email,
            class: "mt-1 w-full rounded-md border border-yellow-300/40 bg-white px-3 py-2",
            autocomplete: "email", inputmode: "email" %>
        </div>

        <div>
          <div class="flex items-center justify-between gap-2">
            <%= f.label :password, "パスワード（8文字以上）", class: "block text-sm font-bold" %>
            <%= render "shared/field_error", object: @account_user, attribute: :password %>
          </div>

          <%= f.password_field :password,
            class: "mt-1 w-full rounded-md border border-yellow-300/40 bg-white px-3 py-2",
            autocomplete: "new-password" %>
        </div>

        <div>
          <div class="flex items-center justify-between gap-2">
            <%= f.label :password_confirmation, "パスワード（確認）", class: "block text-sm font-bold" %>
            <%= render "shared/field_error", object: @account_user, attribute: :password_confirmation %>
          </div>

          <%= f.password_field :password_confirmation,
            class: "mt-1 w-full rounded-md border border-yellow-300/40 bg-white px-3 py-2",
            autocomplete: "new-password" %>
        </div>

        <div class="mt-12 flex justify-center">
          <%= f.submit "連携する",
            class: "font-bold rounded-md bg-amber-400 px-4 py-2 text-white hover:bg-orange-400" %>
        </div>

      </div>
    <% end %>
  </div>
</div>