<% content_for :head do %>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>">
  <meta property="og:title" content="<%= "#{@mofu_diary.title}、見てみる？" %>">
  <meta property="og:description" content="<%= "#{@mofu_diary.line1} / #{@mofu_diary.line2}" %>">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= "#{@mofu_diary.title}、見てみる？" %>">
  <meta name="twitter:description" content="<%= "#{@mofu_diary.line1} / #{@mofu_diary.line2}" %>">
  <meta name="twitter:image" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>/og.png">
  <meta property="og:image" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>/og.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">
<% end %>

<div class="bg-slate-50 flex flex-col w-[600px] min-h-[700px] md:h-[700px] items-center px-4 py-6">
  <div class="w-full max-w-[520px]">
    <div class="text-base font-bold ml-5 mb-2">
      <%= "#{@mofu_diary.user.nickname}さんの、 #{@mofu_diary.title}" %>
    </div>

    <%= render "mofu_diaries/card", mofu_diary: @mofu_diary %>

    <% share_url = share_mofu_diary_url(share_token: @mofu_diary.share_token) %>
  </div>

  <%= link_to "さあ、ちょこもふを始めてみよう♪", root_path,
    class: "mt-4 rounded-md inline-block bg-amber-400 px-4 py-2 font-bold text-white hover:bg-orange-400" %>
</div>