<% content_for :head do %>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>">
  <meta property="og:title" content="<%= "#{@mofu_diary.title}、見てみる？" %>">
  <meta property="og:description" content="<%= "#{@mofu_diary.line1} / #{@mofu_diary.line2}" %>">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= "#{@mofu_diary.title}、見てみる？" %>">
  <meta name="twitter:description" content="<%= "#{@mofu_diary.line1} / #{@mofu_diary.line2}" %>">
  <meta name="twitter:image" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>/og.png">
  <meta property="og:image" content="https://chokomofu-app.onrender.com/mofu_diaries/share/<%= @mofu_diary.share_token %>/og.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">
<% end %>

<div class="bg-slate-50 flex flex-col w-[600px] h-[900px] md:h-[700px] relative overflow-hidden">
  <div class="absolute inset-0 flex flex-col items-center pt-6 z-10 pointer-events-auto">

    <div class="text-base font-bold mb-3">
      <%= "#{@mofu_diary.user.nickname}さんの、 #{@mofu_diary.title}" %>
    </div>

    <div class="w-full flex justify-center">
      <div class="origin-top scale-[0.62] md:scale-100">
        <%= render "mofu_diaries/card", mofu_diary: @mofu_diary %>
      </div>
    </div>

    <%= link_to "さあ、ちょこもふを始めてみよう♪", root_path,
      class: "mt-4 rounded-md inline-block bg-amber-400 px-4 py-2 font-bold text-white hover:bg-orange-400" %>
  </div>
</div>