<% content_for :head do %>
  <meta property="og:title" content="<%= @mofu_diary.title %>">
  <meta property="og:description" content="<%= @mofu_diary.line1 %> / <%= @mofu_diary.line2 %>">
  <meta property="og:image" content="<%= og_mofu_diary_url(@mofu_diary.share_token) %>">
  <meta property="og:url" content="<%= share_mofu_diary_url(@mofu_diary.share_token) %>">
  <meta property="og:type" content="article">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @mofu_diary.title %>">
  <meta name="twitter:description" content="<%= @mofu_diary.line1 %> / <%= @mofu_diary.line2 %>">
  <meta name="twitter:image" content="<%= og_mofu_diary_url(@mofu_diary.share_token) %>">
  <meta name="twitter:url" content="<%= share_mofu_diary_url(@mofu_diary.share_token) %>">
<% end %>

<div class="bg-slate-50 min-h-screen flex flex-col w-[600px]">
  <!-- 中身 -->
  <div class="absolute inset-0 flex flex-col items-center justify-center p-4 z-10 pointer-events-auto">
    <div class="relative w-full max-w-[520px] mx-auto">
      <!-- タイトル -->
      <div class="text-base font-bold ml-5">
        <%= "#{@mofu_diary.user.nickname}さんの、 #{@mofu_diary.title}" %>
      </div>
      <%= render "mofu_diaries/card", mofu_diary: @mofu_diary %>

      <% share_url = share_mofu_diary_url(share_token: @mofu_diary.share_token) %>
    </div>

    <%# shareページでは「閉じる」じゃなく「ちょこもふへ」でもOK %>
    <%= link_to "さあ、ちょこもふを始めてみよう♪", root_path,
      class: "mt-3 rounded-md inline-block bg-amber-400 px-4 py-2 font-bold text-white hover:bg-orange-400" %>
  </div>
</div>