<div class="bg-slate-50 min-h-screen flex flex-col w-[600px] h-[700px]">
  <div class="flex justify-center items-center relative w-auto z-0 min-h-screen overflow-hidden w-[600px] h-[700px]"
     data-controller="snack-base">
    <%= image_tag window_image_path(
          weather_slot: @weather_slot,
          time_slot: @time_slot
        ),
        alt: "ちょこっと♪ もふたいむ /main 窓背景",
        class: "absolute top-[15px] left-[260px] object-cover object-top w-[250px] z-0" 
    %>
    <%= image_tag "main-bg.png", alt: "ちょこっと♪ もふたいむ /main 背景", class: "w-full h-full object-cover object-[50%_40%] z-10" %>

    <section
      data-snack-base-target="base"
      class="absolute flex h-[350px] inset-x-0 justify-center items-center pointer-events-none translate-y-[75px] z-10">
      <div id="character" class="absolute flex translate-x-0 will-change-transform">
        <% dir  = character_dir_for(@character) %>
        <%= image_tag(
            expression_image_path(character_dir: dir),
            alt: "キャラクター /ぽめまる /基本立ち絵", 
            class: "w-[260px]"
            ) %>
      </div>
    </section>
    <%= turbo_frame_tag "snack_result",
          class: "absolute inset-0 flex justify-center items-center z-30 pointer-events-none" do %>
    <% end %>

    <%= turbo_frame_tag "diary_modal", class: "pointer-events-none" %>

    <%= turbo_frame_tag "menu_panel",
          data: {
            snack_base_target: "menu",
            action: "snack:hide-base@window->snack-base#hideBase snack:show-base@window->snack-base#showBase"
          },
          class: "absolute flex gap-[5px] inset-x-0 justify-center mt-[20px] translate-y-[280px] z-20" do %>
      <%= render "mains/menu_buttons" %>
    <% end %>
  </div>
</div>
