<div class="bg-slate-50 min-h-screen flex flex-col w-[600px] h-[700px]">
  <div class="flex justify-center items-center relative w-auto z-0 min-h-screen overflow-hidden w-[600px] h-[700px]">
    <%= image_tag window_image_path(
          weather_slot: @weather_slot,
          time_slot: @time_slot
        ),
        alt: "ちょこっと♪ もふたいむ /main 窓背景",
        class: "absolute top-[15px] left-[260px] object-cover object-top w-[250px] z-0" 
    %>
    <%= image_tag "main-bg.png", alt: "ちょこっと♪ もふたいむ /main 背景", class: "w-full h-full object-cover object-[50%_40%] z-10" %>

    <section class="absolute flex h-[350px] inset-x-0 justify-center items-center pointer-events-none translate-y-[75px] z-10">
      <div id="character" class="absolute flex translate-x-0 will-change-transform">
        <% dir  = character_dir_for(@character) %>
        <%= image_tag(
            expression_image_path(character_dir: dir),
            alt: "キャラクター /ぽめまる /基本立ち絵", 
            class: "w-[300px]"
            ) %>
      </div>
    </section>

    <%= turbo_frame_tag "snack_panel",
          class: "absolute flex justify-center translate-y-[200px] h-[80px] w-[400px] z-40" do %>
    <% end %>

    <section class="absolute flex gap-[5px] inset-x-0 justify-center mt-[20px] translate-y-[280px] z-20">
      <%= link_to chat_path,
                aria: { label: "おしゃべり" } do %>
        <%= image_tag "button/btn-conv.png", alt: "おしゃべりボタン", class: "w-[100px]" %>
      <% end %>
      <%= link_to picker_snack_path,
            data: { turbo_frame: "snack_panel" },
            aria: { label: "おやつ" } do %>
        <%= image_tag "button/btn-snack.png", alt: "おやつボタン", class: "w-[100px]" %>
      <% end %>
      <%= link_to "#",
                aria: { label: "おもちゃ" } do %>
        <%= image_tag "button/btn-toy.png", alt: "おもちゃボタン", class: "w-[100px]" %>
      <% end %>
      <%= link_to "#",
                aria: { label: "好感度" } do %>
        <%= image_tag "button/btn-affinity.png", alt: "好感度ボタン", class: "w-[100px]" %>
      <% end %>
      <%= link_to mypage_path,
                aria: { label: "マイページ" } do %>
        <%= image_tag "button/btn-mypage.png", alt: "マイページボタン", class: "w-[100px]" %>
      <% end %>
    </section>

  </div>
</div>
